
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link rel="stylesheet" type="text/css" href="../style/pygments.css" />
    <link rel="stylesheet" type="text/css" href="../style/cmake.css" />
    
    

  </head><body>

    <div class="related">
      <div class = "text" style = "font-size:50px;  top:40px;"> Robo Sub</div>
    </div>

      <div class="related2">
        <div class = "text" style = "font-size:40px; top: 52px; left: 170px; color:#4F67B9;">Projects</div>
      <img src="../images/robologo.png" alt="Italian Trulli">
    </div>  

    

      <div class = "text" style = "font-size:30px; top: -185px; left: 420px;"><a href = "home.html"> Home<a></div>  

    <div class = "text" style = "font-size:30px; left: 640px; top: -220px; "><a href = "Projects.html"> Projects<a></div>

     <div class = "text" style = "font-size:30px; left:900px; top: -253px;"><a href = "Teams+Resources.html">Teams + Resources<a></div>

     <div class = "text" style = "font-size:30px; top: -289px; left: 1320px;"><a href = "About us.html"> About us<a></div> 


  

    <div class="document">

  
  <noscript>
  <div class="admonition warning">
  <p>
    Please activate JavaScript to enable the search
    functionality.
  </p>
  </div>
  </noscript>

            <div class="clearer"></div>
          </div>
      
  
    <div class="footer" role="contentinfo">
         
    </div>
  </body>
</html>